/* BUTTON STYLES */

.btn-default {
  background-color: $white;
  border-color: $white;
  color: $dkgrey;
  -webkit-transition: $transition;
  -moz-transition: $transition;
  transition: $transition;
}

.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  background-color: $ltgrey;
  border-color: $ltgrey;
  color: $dkgrey;
}

.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  background-image: none;
}

.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  background-color: $white;
  border-color: $white;
}

.btn-default .badge {
  background-color: $dkgrey;
  color: $white;
}

.btn-primary {
  background-color: $red;
  border-color: $red;
  color: $white;
  -webkit-transition: $transition;
  -moz-transition: $transition;
  transition: $transition;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  border-color: #ed431f;
  color: $white;
  background-color: #ee4b28;
}

.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-image: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  border-color: $red;
  background-color: $red;
}

.btn-primary .badge {
  color: $red;
  background-color: $white;
}

.btn {
  border: 0;
  border-radius: 300px;
  text-transform: uppercase;
  font-family: $font-head;
  font-weight: 700;
}

.btn-xl {
  padding: 15px 30px;
}

::-moz-selection {
  text-shadow: none;
  color: $white;
  background: $dkgrey;
}

::selection {
  text-shadow: none;
  color: $white;
  background: $dkgrey;
}
