/* BUTTON STYLES */

.btn-default {
  background-color: $white;
  border-color: $white;
  color: $dkgrey;
  -moz-transition: $transition;
  -webkit-transition: $transition;
  transition: $transition;

  .badge {
    background-color: $dkgrey;
    color: $white;
  }

  &:hover,
  &:focus,
  &.focus,
  &:active,
  &.active {
    background-color: $ltgrey;
    border-color: $ltgrey;
    color: $dkgrey;
  }
}

.open > .dropdown-toggle.btn-default {
  background-color: $ltgrey;
  border-color: $ltgrey;
  color: $dkgrey;
}

.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  background-image: none;
}

.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  background-color: $white;
  border-color: $white;
}


.btn-primary {
  background-color: $red;
  border-color: $red;
  color: $white;
  -moz-transition: $transition;
  -webkit-transition: $transition;
  transition: $transition;

  .badge {
    background-color: $white;
    color: $red;
  }
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-color: $color-road;
  border-color: $red;
  color: $white;
}

.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-image: none;
}

.btn {
  border: 0;
  border-radius: 300px;
  font-family: $font-head;
  font-weight: 700;
  text-transform: uppercase;
}

.btn-xl {
  padding: 15px 30px;
}

::-moz-selection {
  background: $dkgrey;
  color: $white;
  text-shadow: none;
}

::selection {
  background: $dkgrey;
  color: $white;
  text-shadow: none;
}
