#btn-road {
  color: $color-road;
}

#btn-dh {
  color: $color-dh;
}

#btn-track{
  color: $color-track;
}

#btn-cx{
  color: $color-cx;
}

#btn-xc{
  color: $color-xco;
}

#btn-enduro{
  color: $color-enduro;
}

#btn-other{
  color: $color-other;
}
