  /* GENERAL */

html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: $font-main;
}

hr {
  border-color: $red;
  border-width: 3px;
  max-width: 50px;

  &.light {
    border-color: $white;
  }
}

a {
  color: $red;
  -moz-transition: $transition;
  -webkit-transition: $transition;
  transition: $transition;
}

a:hover,
a:focus {
  color: $blue;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-head;
}


p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.bg-primary {
  background-color: $green;
}

.bg-dark {
  background-color: $dkgrey;
  color: $white;

  a {
    color: $green;

    &:hover {
      color: $tlgreen;
      text-decoration: none;
    }
  }
}

.text-faded {
  color: $translucentgrey;
}

section {
  padding: 100px 0;
}

aside {
  padding: 50px 0;
}

.no-padding {
  padding: 0;
}
