/* HEADER STYLES */

header {
  background: url('../img/ballard2-2.jpg') no-repeat top fixed;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  color: $ltgrey;
  height: 70vh;
  position: relative;
  text-align: center;
  width: 100%;

  .header-content {
    background-color: rgba(25, 25, 25, .6);
    margin-top: 20px;
    padding: 100px 15px 0;
    position: relative;;
    text-align: center;
    width: 100%;

    h1 {
      color: $red;
      font-size: 5em;
      font-weight: 800;
      margin-bottom: 0;
      margin-top: 0;
      text-shadow: 2px 2px .5px $ltgrey;
      text-transform: uppercase;
    }

    h3 {
      color: $ltgrey;
    }

    p {
      color: rgba(255, 255, 255, .9);
      font-size: 16px;
      font-weight: 300;
      margin-bottom: 50px;
    }

    hr {
      margin: 30px auto;
    }
  }
}
